# Apify
APIFY_TOKEN=apify_api_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
APIFY_ACTOR_ID=blueorion~free-google-maps-scraper-simplified

# Evolution API
EVO_URL=https://sua-evo-instance.com
EVO_API_KEY=sua-api-key-aqui
EVO_INSTANCE=nome-da-instance
